/* @canonical/generator-ds 0.9.0-experimental.12 */

.ds.diff-change-marker {
  --diff-change-marker-added-color: #8cd297;
  --diff-change-marker-added-svg: #0e8420;
  --diff-change-marker-added-alt: rgba(10, 189, 37, 0.1);

  --diff-change-marker-deleted-color: #fba1aa;
  --diff-change-marker-deleted-svg: #c7162b;
  --diff-change-marker-deleted-alt: rgba(199, 0, 20, 0.1);

  --diff-change-marker-modified-color: #c58c38;
  --diff-change-marker-modified-svg: #cc7900;
  --diff-change-marker-modified-alt: rgba(245, 158, 11, 0.1);

  --diff-change-marker-font-size: 12px;
  --diff-change-marker-font-weight: 550;
  --diff-change-marker-line-height: 16px;

  --diff-change-marker-simple-size: 1rem;

  --diff-change-marker-detailed-padding: 0 0.25rem;

  display: flex;
  align-items: center;

  &.style-simple > .change-indicator {
    width: var(--diff-change-marker-simple-size);
    height: var(--diff-change-marker-simple-size);
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 100%;
      height: 100%;
    }

    &.added {
      color: var(--diff-change-marker-added-svg);
      background-color: var(--diff-change-marker-added-alt);
    }

    &.deleted {
      color: var(--diff-change-marker-deleted-svg);
      background-color: var(--diff-change-marker-deleted-alt);
    }

    &.modified {
      color: var(--diff-change-marker-modified-svg);
      background-color: var(--diff-change-marker-modified-alt);
    }
  }

  &.style-detailed {
    font-size: var(--diff-change-marker-font-size);
    font-weight: var(--diff-change-marker-font-weight);
    line-height: var(--diff-change-marker-line-height);

    & > span {
      padding: var(--diff-change-marker-detailed-padding);

      &.added {
        color: var(--diff-change-marker-added-color);
        background-color: var(--diff-change-marker-added-alt);
      }

      &.deleted {
        color: var(--diff-change-marker-deleted-color);
        background-color: var(--diff-change-marker-deleted-alt);
      }

      &.modified {
        color: var(--diff-change-marker-modified-color);
        background-color: var(--diff-change-marker-modified-alt);
      }
    }
  }
}
