/* @canonical/generator-ds 0.9.0-experimental.9 */

.ds.form-select {
  border-radius: var(--border-radius);

  color: var(--mod-color-default, var(--state-idle-color-default));
  background: var(
    --mod-background-default,
    var(--state-idle-background-default)
  );
  border-color: var(
    --mod-border-color-default,
    var(--state-idle-border-color-default)
  );

  border-style: var(--input-border-style);

  border-bottom-width: var(--input-border-bottom-width);
  border-top-width: var(--input-border-top-width);
  border-left-width: var(--input-border-right-width);
  border-right-width: var(--input-border-right-width);

  &:focus {
    color: var(--mod-color-focus, var(--state-idle-color-default));
    border-color: var(
      --mod-border-color-focus,
      var(--state-idle-border-color-default)
    );
  }

  &:disabled {
    color: var(--state-disabled-color-default);
    background: var(--state-disabled-background-default);
    border-color: var(--state-disabled-border-color-default);
  }
}
