/* @canonical/generator-ds 0.10.0-experimental.4 */

.ds.skip-link {
  background: var(--skip-link-background);
  color: var(--skip-link-color);
  display: block;
  left: var(--skip-link-left);
  position: absolute;
  top: var(--skip-link-top);

  &:focus {
    left: var(--skip-link-focus-left);
    padding-block: var(--skip-link-focus-padding-block);
    padding-inline: var(--skip-link-focus-padding-inline);
    position: fixed;
    top: var(--skip-link-focus-top);
    z-index: var(--skip-link-focus-z-index);
  }
}
