@import "@canonical/launchpad-design-tokens/dist/css/dimension/responsive.css";
@import "@canonical/launchpad-design-tokens/dist/css/typography/responsive.css";
@import "@canonical/launchpad-design-tokens/dist/css/opacity/opacity.css";
@import "@canonical/launchpad-design-tokens/dist/css/transition/preferred.css";
@import "@canonical/launchpad-design-tokens/dist/css/color/modifier.css";

.docs-story {
  background-color: var(--lp-color-background-default);
}
