.ds.example-controls {
  background-color: black;
  width: 100%;
  padding: var(--spacing-horizontal-small) var(--spacing-vertical-small);
  box-sizing: border-box;

  & .end {
    margin-left: auto;
  }

  & #showcase-settings-drawer > .contents > .setting-category {
    padding: var(--spacing-vertical-medium) 0;
    border-top: 1px solid var(--color-text-default);
    & > .fields {
      display: grid;
      --wrapper-columns: span 1;
      grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
      grid-column-gap: var(--spacing-horizontal-large);
    }
  }

  & .end {
    margin-left: auto;
  }
}

.inputs-drawer-contents {
  & .setting-category {
    padding: var(--spacing-vertical-medium) 0;
    border-top: 1px solid var(--color-text-default);

    & .inputs {
      display: grid;
      --wrapper-columns: span 1;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-column-gap: var(--spacing-horizontal-medium);
    }
  }
}

@media screen and (min-width: 870px) {
  .ds.example-controls {
    column-gap: var(--spacing-horizontal-small);

    & .start,
    & .end {
      justify-content: center;
      align-items: center;
    }

    & .start {
      grid-column: 1 / 2;
    }

    & .end {
      grid-column: 3 / 4;
    }

    & #baseline-toggler {
      --form-label-columns: 1 / 2;
      --form-payload-columns: 2 / 3;
    }
  }
}
