/* @canonical/generator-ds 0.9.0-experimental.4 */

.ds.form-textarea {
  color: var(--mod-color-default, var(--state-default-color-default));
  background: var(--mod-background-default, var(--state-default-background-default));

  &:focus {
    color: var(--mod-color-focus);
  }

  &:disabled {
    color: var(--state-disabled-color-default);
    background:var(--state-disabled-background-default);
  }

}
