/* @canonical/generator-ds 0.10.0-experimental.5 */

:root {
  --demo-background-color: lightblue;
  --box-background-color: lightgray;
  --intrinsic-box-background-color: lightyellow;
  --row-background-color: lightgreen;
  --top-bar-background-color: lightcoral;
  --side-bar-background-color: lightgoldenrodyellow;
  --column-width: 7ch;
  --column-gap: 1em;

}

.grid-fixed,
.grid-fixed-responsive {
  display: grid;
  grid-template-columns:  repeat(8, 1fr);
}

@media (max-width: 600px) {
  .grid-fixed-responsive {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-fluid {
  display: grid;
  grid-template-columns: 
    minmax(var(--column-width), 1fr)
    minmax(var(--column-width), 1fr)
    repeat(
      auto-fill,
      minmax(var(--column-width), 1fr) minmax(var(--column-width), 1fr) minmax(var(--column-width), 1fr)
      minmax(var(--column-width), 1fr) minmax(var(--column-width), 1fr) minmax(var(--column-width), 1fr)
        minmax(var(--column-width), 1fr)
        minmax(var(--column-width), 1fr)
    );
}

.ds.grid-demo {
  background:var(--demo-background-color);
  height:100%;
  gap:var(--column-gap);
  container-type: inline-size;
  /* container-type:inline-size; */

  .box {
    background:var(--box-background-color);
  }

  .intrinsic-box {
    background:var(--intrinsic-box-background-color);
  }

  > .row {
    background:var(--row-background-color);
    grid-column:1/-1;
  }


  > main { 
    outline: 2px solid red;
    grid-column:3/ -1;
    display: grid;
    grid-template-columns:subgrid;
    gap:var(--column-gap);
    grid-template-rows:repeat(3, min-content);
    /* container-type:inline-size; */
  }



  > nav {
    background:var(--top-bar-background-color);
    grid-column:1/-1;
  }

  > aside {
    background:var(--side-bar-background-color);
    grid-column:1/3;
  }

  &.navigation { 
    grid-template-rows: auto 1fr;
  }
}

@container (min-width:600px) {
  .intrinsic-box {
    background:red!important;
    grid-column: span 2;
  }

}
