/* @canonical/generator-ds 0.10.0-experimental.2 */

.ds.section {
  --section-padding-bottom: var(--section-padding-bottom-default);
  --section-padding-top: var(--section-padding-top-default, 0px);
  --section-border-start-width: var(--intent-separator-bar-height);

  border-top-color: var(
    --intent-separator-bar-color,
    var(--rule-color-background)
  );

  border-top-style: var(--intent-border-style);
  border-top-width: var(--section-border-start-width);
  padding-bottom: var(--section-padding-bottom);

  /*
    The top border is similar to a Rule component, but we need to use padding instead of margin to maintain baseline alignment.
    --section-padding-top: base top padding
    --section-border-start-height-with-padding: height of the border including additional padding.
        The border height + additional padding always adds up to this value, but global modifiers may change the distribution of border height and padding.
    --section-border-start-width: height of the border itself, taking global modifiers into account.
  */
  padding-top: calc(
    var(--section-padding-top) +
    var(--section-border-start-height-with-padding) -
    var(--section-border-start-width)
  );

  /*
    Spacing variants
    Note that top padding is only defined for the hero variant in our core setup.
    The top padding is still bound here in case users customize their tokens.
    */
  &.spacing-shallow {
    --section-padding-bottom: var(--section-padding-bottom-shallow);
    --section-padding-top: var(--section-padding-top-shallow);
  }

  &.spacing-deep {
    --section-padding-bottom: var(--section-padding-bottom-deep);
    --section-padding-top: var(--section-padding-top-deep);
    /* TODO add responsiveness https://github.com/canonical/vanilla-framework/blob/6af35433368f82d76d8deb7effebca47b434ee76/scss/_patterns_section.scss#L16-L18 */
  }

  &.spacing-hero {
    --section-padding-bottom: var(--section-padding-bottom-hero);
    --section-padding-top: var(--section-padding-top-hero);

    /*    TODO add responsiveness https://github.com/canonical/vanilla-framework/blob/6af35433368f82d76d8deb7effebca47b434ee76/scss/_patterns_section.scss#L32-L34 */
  }
}
