.package-info {
  font: inherit;
  color: inherit;

  & .name {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;

    & .version {
      margin-left: 0.75rem;
      font-family: monospace;
      font-size: 0.75em;
      font-weight: 400;
      opacity: 0.6;
    }
  }

  & table {
    border-collapse: collapse;
    font-size: 0.875rem;
  }

  & th,
  & td {
    padding: 0.375rem 0;
    text-align: left;
    vertical-align: top;
  }

  & th {
    padding-right: 2rem;
    font-weight: 500;
    opacity: 0.6;
    white-space: nowrap;
  }

  & td {
    & code {
      padding: 0.125rem 0.25rem;
      background-color: color-mix(in srgb, currentColor 8%, transparent);
      font-size: 0.8125rem;
    }

    & a {
      color: inherit;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  & .status {
    display: inline-block;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
  }
}
