name: "Pull request"
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18, 19, 20, 21, 22, 23, 'latest']
        bun-version: ['latest']
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup environment for Bun ${{ matrix.bun-version }} and Node ${{ matrix.node-version }}
        uses: ./.github/actions/setup-env
        with:
          bun-version: ${{ matrix.bun-version }}
          node-version: ${{ matrix.node-version }}

      - name: Build storybooks
        # Storybook builds are not automatically run by `bun run build` as we don't generally need them for publishing.
        run: lerna run build:storybook

      - name: Code quality checks
        run: bun run check

      - name: Test
        run: bun run test
